# Supabase
SUPABASE_URL=https://fagxqvahgfiarbmqernv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhZ3hxdmFoZ2ZpYXJibXFlcm52Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NzQ2MjYsImV4cCI6MjA5MzU1MDYyNn0.b6iVnzd00pfgPiE5FhW_imTV5G3oLuc6dDz883DmynQ

# OpenAI
OPEN_AI_KEY=openai_key_here