# Supabase 
SUPABASE_URL=https://fagxqvahgfiarbmqernv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhZ3hxdmFoZ2ZpYXJibXFlcm52Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NzQ2MjYsImV4cCI6MjA5MzU1MDYyNn0.b6iVnzd00pfgPiE5FhW_imTV5G3oLuc6dDz883DmynQ
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhZ3hxdmFoZ2ZpYXJibXFlcm52Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzk3NDYyNiwiZXhwIjoyMDkzNTUwNjI2fQ.tScQS42TB_0OJeJw1zCF4FlVWXnn_F9xaR6E1h0K83o

# Gemini API
GEMINI_AI_KEY=AIzaSyBq-arWS9SRPVO30bbzQTQ5OFuXi7z2B3A

# ERGAST API
ERGAST_BASE_URL=https://api.jolpi.ca/ergast/f1